html {
	height: 100%;
}

body {
	height: 100%;
	background-image: url("images/stardust.png");
	font-family: RobotoDraft, Helvetica, Arial;
}

h4 {
	color: rgba(255, 255, 255, 1.0);
}

#character-picker {
	/*display: none;*/
}

#fronts {
	float: left;
}

#backs {
	float: left;
	clear: right;
}

paper-radio-button {
	display: block;
	color: rgba(255, 255, 255, 0.7);
}

#character-card {
	visibility: hidden;
}

@media screen and (min-width: 480px) {
	body {
		padding: 10px;
	}

	#character-card {
		width: 475px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px) {
	body {
		height: 100vh;
	}

	#character-card {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
	}
}
