core-header-panel {
	float: left;
	width: 100%;
	height: 400px;
	height: 100vh;
}

.core-header {
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	padding: 0 10px;
	background: #333;
	color: rgba(255, 255, 255, 1.0);
	transition: height 0.2s;
}

.content {
	height: 340px;
	padding: 5px;
	background: #FFFFFF;
	color: rgba(0, 0, 0, 0.7);
}

#profile-pic {
	height: 128px;
	width: 128px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: green;
}

.trait {
	display: block;
}

#vitals, #t_hobbies {
	margin-bottom: 5px;
}

#vitals .trait {
	line-height: 32px;
}

.category {
	font-weight: bold;
}

@media screen and (max-width: 480px) {
	.content {
		height: 100vh;
		padding-top: -60px;
	}
}